body {
    align-items: center;
    background: #ebebeb;
    display: flex;
    flex-flow: row wrap;
    font-size: 16px;
    justify-content: center;
    width: 100%;
}
ul {
    list-style-type: none;
}
a {
    color: #000000;
    text-decoration: none;
}
h1 {
    font-size: 2em;
    text-align: center;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1em;
    text-align: center;
}
ul {
    padding: 0;
}
header {
    width: 90%;
}
header nav {
    align-items: center;
    width: 60%;
}
header nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 0 0 45%;
    width: 80%;
}
em {
    font-size: 1.25em;
}
span {
    font-size: 1em;
    font-style: italic;
}
i {
    font-size: 1em;
}
img {
    padding: 2px;
    width: 5%;
}
table {
    width: 90%;
}
table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
}
table p {
    padding: 0 0.5%;
    text-align: center;
}
#fleet {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
}
.intrepid,
.dragon,
.cruiser,
.destroyer,
.specs,
.tech,
.features,
.inhabitants {
    justify-content: space-between;
    width: 45%;
}
/***** RECIPES *****/
main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
/***** RECIPES *****/
/* .ingredients {
    align-items: center;
}
.ingredients ul {
    flex-flow: row wrap;
    padding: 0;
}
.ingredients ul li {
    justify-content: space-between;
    width: 50%;
} */
 /***** RECIPES *****/
